h1 {
  color: white;
}

body {
  background-color: teal;
  text-align: center;
  font-family:fantasy;
}

li {
  color: white;
  font-weight: bold;
}
h2 {
  color: white;
  font-size: 30px;
}

p {
  color: white;
}
